header {
    border: 1px solid var(--mint);
    width: 100%;
    padding: 1rem;
}

#navigation-header ul {
    list-style-type: none;
    padding: 0;
}

#presentation-header ul {
    padding-left: 1em;
}
