:root {
    --mint: #b8e2e4;
    --peach: #e4d5b8;
}

body {
    background-color: #191d1d;
    color: white;
    margin: 2rem;
    font-family: "Space Mono";
    width: 50vw;
    margin: auto;
}

a {
    color: var(--mint);
    font-family: "Kode Mono";
}
a:hover {
    color: var(--peach);
    text-decoration: none;
}

footer {
    text-align: center;
}

#in-progress {
    color: orangered;
    border: 1px dashed orangered;
    text-align: center;
    width: fit-content;
    padding: 0 0.5rem;
    margin: auto;
    margin-top: 1.5rem;
}
